docker
escapism
jinja2
jsonschema
jupyterhub @ git+https://github.com/RCOSDP/CS-jupyterhub.git@5.2.1
kubernetes
prometheus_client
pyjwt>=2
python-json-logger
tornado>=5.1
traitlets
oauthlib>=3.0
SQLAlchemy>=1.1
